<ion-header>
 
  <ion-navbar color="danger">
    <ion-title>{{evento.type}}</ion-title>
  </ion-navbar>
 
</ion-header>
 
<ion-content>
 
    <ion-card>

            <img *ngIf="evento.type=='deportivo'" class="header" src="../assets/imgs/defensa.png"/>
            <img *ngIf="evento.type=='cultural'" class="header" src="../assets/imgs/simon.png"/>
            <img *ngIf="evento.type=='charlas'" class="header" src="../assets/imgs/mendilloo.png"/>
            <img *ngIf="evento.type=='autoridades'" class="header" src="../assets/imgs/simon.png"/>
        <div class="card-title-container">
            <p class="card-title">{{evento.type}}</p>
        </div>
    </ion-card>
 
    <ion-list>
 
        <ion-item>
            <strong>Fecha de Inicio:</strong> {{checkIn}}
        </ion-item>
 
        <ion-item>
            <strong>Fecha Culminacion:</strong> {{checkOut}}
        </ion-item>
 
        <ion-item>
            <strong>Cupos disponibles:</strong> {{evento.beds}}
        </ion-item>

  
 
        <ion-item>
            <strong>Invitados:</strong> {{details.guests}}
        </ion-item>
 
        <ion-item>
            <strong>Costo:</strong> BsS{{evento.cost_per_night}}
        </ion-item>
 
    </ion-list>
 
    <button (click)="book()" full ion-button color="primary">
        Ir al Evento</button>

        <button (click)="book()" full ion-button color="danger">
              Añadir a favoritos</button>
 
</ion-content>