<ion-header>
 
  <ion-navbar color="danger">
    <ion-title> Eventos Disponibles</ion-title>
  </ion-navbar>
 
</ion-header>
 
 
<ion-content>
 
  <ion-card tappable (click)="bookEvento(evento)" *ngFor="let evento of eventos">
      <img *ngIf="evento.type=='deportivo'" class="header" src="../assets/imgs/defensa.png"/>
      <img *ngIf="evento.type=='cultural'" class="header" src="../assets/imgs/fotografia.png"/>
      <img *ngIf="evento.type=='charla'" class="header" src="../assets/imgs/pupi.png"/>
      <img *ngIf="evento.type=='autoridades'" class="header" src="../assets/imgs/unimet.jpg"/>


      <div class="card-title-container">
        <p class="nombre">{{evento.type}}</p>
        <p class="rating"><ion-icon name="cloud"></ion-icon>{{evento.beds}} <ion-icon name="cash"></ion-icon> {{evento.cost_per_night}} <ion-icon name="people"></ion-icon> {{evento.max_occupancy}}</p>
      </div>
  </ion-card>
 
</ion-content>
